:root{
    --main-bg-color:#3aa5a9;
    --main-text-color:rgb(18, 185, 74);
    --second-text-color:rgb(15, 15, 15);
    --second-bg-color:#DEF2F1;
}

.primary-text{
    color: var(--main-text-color);
}

.second-text{
    color: var(--second-text-color);
}

.primary-bg{
    color: var(--main-bg-color);
}

.second-bg{
    color: var(--second-bg-color);
}

.rounded-full{
    border-radius: 100%;
}

#wrapper{
    overflow-x: hidden;
    max-width: 100vw;
   background-image: linear-gradient(
       #DEF2F1,
       #DEF2F1
       );
}


.navbar-toggler{
    left: 50px;
}



#sidebar-wrapper{
    min-height: 100vh;
    margin-left : -15rem;
    transition: margin 0.25 ease-out;
}


#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    font-size:1.25 rem;
}

#sidebar-wrapper .list-group{
    width: 15rem;
}

.list-group  a:hover{
    box-shadow: 0 5px 10px rgba(0,0,0);
    transform: scale(1.1);
    background:var(--main-bg-color);
    color:#fff;
    transition: transform 0.5s;
}

#page-content-wrapper{
   max-width: 100vw;
}

#wrapper.toggled  #sidebar-wrapper{
   margin-left:0; 
}


#menu-toggle{
    cursor: pointer;
    margin: 9px;

}

.list-group-item {
    border: none;
    padding: 20px 30px;
}



.list-group-item.action  {
  background-color:  var(--main-bg-color);
  color : var(--main-text-color);
  font-weight: bold;
  border :none;

}


#maintable{
    margin:40px;
    width: 950px;
}

.fa-check-circle{
    margin : 0 10px;
    color:rgb(103, 247, 103);
}

.fa-times-circle{
    margin : 0 10px;
    color:rgb(248, 107, 107);
}


@media screen and (max-width: 768px){
    #sidebar-wrapper{
        margin-left: 0;
    }

    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }

    #navelements{
        width: 100%;
    }


    #wrapper.toggled #sidebar-wrapper{
        margin-left:-15rem;
    }
}



